<div class="col-md-12">
  <% unless current_user.approved? %>
    <p class="notice alert alert-alert text-center">Your account is under review</p>
  <% end %>
</div>    
<div class="col-md-12 margin-top-20">
  <div class="col-md-2">
    <%= form_for(current_user, :url => user_path(current_user), method: :put, :html => { :multipart => true }) do |form| %>
      <%= image_tag form.object.profile_pic.url(:thumb) %>
      <%= form.file_field :profile_pic %>
      <%= form.submit "Upload" %>
    <% end %>
  </div>
  <% if current_user.artist? %>
    <%= render partial: 'artists/artist_primary_info' %>
    <%= render partial: 'artists/artist_secondry_info' if current_user.approved? %>
  <% end %>

  <% if current_user.band? %>
    <%= render partial: 'bands/band_primary_info' %>
    <%= render partial: 'bands/band_secondry_info' if current_user.approved? %>
  <% end %>

  <% if current_user.client? %>
    <%= render partial: 'clients/client_primary_info' %>
    <%= render partial: 'clients/client_secondry_info' if current_user.approved? %>
  <% end %>
<div>