<div class="container top-space">
  <h3 class="text-center">Join TopCat For Free</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="well login-box">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), novalidate: "novalidate")  do |f| %>
          <%= devise_error_messages! %>
          <div class='first-step'>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, id: 'email', placeholder: 'Email', class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", id: 'password', placeholder: 'Password', class: "form-control" %>
            </div>
          </div>
          <div class='second-step display-none'>
            <a href="#" class='btn btn-primary user-type form-control margin-bottom-10', data-value='artist'>Artist <%= radio_button_tag 'user_type', 'Artist' %></a>
            <a href="#" class='btn btn-primary user-type form-control margin-bottom-10', data-value='band'>Band <%= radio_button_tag 'user_type', 'Band'%></a>
            <a href="#" class='btn btn-primary user-type form-control margin-bottom-10', data-value='client'>Client <%= radio_button_tag 'user_type', 'Client'%></a>
            <a href="#" class="back_link">« Edit Login Information</a>
            <%= hidden_field_tag :user_role, id: "user_role" %>
          </div>
          <div class='third-step display-none'></div>
          <div class="text-center">
            <%= f.submit "Sign up", class: 'btn btn-success btn-login-submit' %>
          </div>
          <%= render "devise/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>