<!DOCTYPE html>
<html>
<head>
  <title>Topcat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => '/shared/header' %>

<%= js add_gritter(flash[:notice], :image => :notice, :title => "Pay attention!") %>
<%= js add_gritter(flash[:success], :image => :success, :title => "Message") %>
<%= js add_gritter(flash[:error], :image => :error, :title => "Pay attention!") %>
<%#= extend_gritter :time => 500, :position => :top_left  %>
<%= yield %>

</body>
</html>



